/**
  Based on https://codepen.io/GhostRider/pen/GHaFw
 */
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #ffffff;
}

*::-webkit-scrollbar {
  display: block !important;
  width: 5px !important;;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(61, 60, 60, 0.3);
  background-color: #939393;
}
